.App {
  text-align: center;
  height: 100vh;
}

#controls-wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 20px;
  color: white;
}

#controls-wrapper select {
  margin: 0 10px 0 10px;
  background-color: transparent;
  border-color: transparent;
  color: white;
}

#controls-wrapper button {
  height: 50px;
  width: 50px;
  color: white;
  background-color: transparent;
  border-color: white;
  border-radius: 50%;
}