.App {
  text-align: center;
  height: 100vh;
}

#controls-wrapper {
  font-size: 2em;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 20px;
  color: white;
}

#controls-wrapper select {
  font-size: 1em;
  margin: 0 15px 0 15px;
  background-color: transparent;
  border-color: transparent;
  color: white;
}

#controls-wrapper option {
  color: white;
  background: black;
}

#controls-wrapper button {
  height: 50px;
  width: 50px;
  color: white;
  background-color: transparent;
  border-color: white;
  border-radius: 50%;
}
